<span id="like-button-<%= post.id %>">
  <% if post.likes.exists?(user: current_user) %>
    <%= button_to 'ðŸ’”Unlike',
        post_like_path(post, post.likes.find_by(user: current_user)),
        method: :delete,
        remote: true,
        class: 'btn btn-outline-secondary' %>
  <% else %>
    <%= button_to 'â¤ï¸Like',
        post_likes_path(post),
        method: :post,
        remote: true,
        class: 'btn btn-outline-danger' %>
  <% end %>
</span>
